{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}
{% block body %}
    <h1>Admin Panel</h1>
    <h2>Hospitals</h2>
    {{ macro.hospitalList(hospitals, true) }}
    <h2>View Contact Requests</h2>
    <ul>
    {% for contact in contacts %}
        <li>
            <div><strong>Subject: </strong>{{ contact.subject }}</div>
            <div><strong>Email:</strong> {{ contact.email }}</div>
            <div><strong>Message:</strong> {{ contact.message }}</div>
            <div><strong>Hospital:</strong> {{ contact.hospital.name }}</div>
        </li>
    {% else %}
        <li><strong>No Contacts At this Time.</strong></li>
    {% endfor %}
    </ul>
{% endblock %}
